<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="true">

	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="MaxFileSize" value="50000KB" />
		<param name="Append" value="true" />
		<param name="MaxBackupIndex" value="3" />
		<param name="File" value="/opt/dockitech-adapter.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d &lt;%c{1}&gt; %m %n" />
		</layout>
	</appender>


	<appender name="traceLogAppender" class="ext.noone.log4j.TraceLogAppender">
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="50000KB" />
		<param name="include" value="${log4j.sql.include}" />
		<param name="MaxBackupIndex" value="3" />
		<param name="File" value="${log4j.trace.file}" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p %d - %m%n" />
		</layout>
	</appender>



	<logger name="org.mongodb.morphia">
		<level value="DEBUG" />
		<appender-ref ref="fileAppender" />
	</logger>
	
	<root>
		<level value="DEBUG"></level>
		<appender-ref ref="fileAppender" />
	</root>

</log4j:configuration>